body {
	background-color: #ecf0f1;
  font-family: helvetica, arial; 
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	margin: 0px;
	margin-bottom:20px;
}

#title {
	color: #232162;
	text-align:center
}

a {
	color: #9999cc;
}

.container
{
 height:100%;
 width:100%;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:40px;
 text-align:center;
}

.header
{
 /* position:fixed; */
 background-color:#2c3e50;
 color:white;
 width:100%;
 height:120px;
 font-size: 2ex;
 text-align:center;
 line-height:120px;
}

.about
{
	background-color:#2c3e50;
	color: white; 
	text-decoration: none; 
	font-size: 2ex; 
	font-family: helvetica, arial; 
	font-weight: bold; 
	text-shadow: 1px 1px 1px black;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:10px;
	margin-right:10px;	
	height:100%;
}

.content1
 {
	width:100%;
	text-align:left;
 }
	
.content2
 {
	width:100%;
	text-align:left;
}

.content3
 {
  width:100%;
	text-align:left;
 }

.content4
 {
  width:100%;
	text-align:left;
 }
 
 
 
 @font-face { 
        font-family: 'EfonRegular'; 
        src: url('font/EFON-webfont.eot'); 
        src: local('EfonRegular'), url('font/EFON-webfont.woff') format('woff'), url('font/EFON-webfont.ttf') format('truetype'), url('font/EFON-webfont.svg#webfont') format('svg'); 
        font-weight: normal; 
        font-style: normal; 
    }    
  
    /* body { 
     width: 400px; 
     margin: 200px auto; 
     background: #666; 
    } */ 
  
    .button { 
		 
     line-height: 80px; 
     color: white; 
     text-decoration: none; 
     font-size: 2ex; 
     font-family: helvetica, arial; 
     font-weight: bold; 
		 margin-left:15px;
		 margin-right:15px;
     display: block; 
     text-align: center; 
     position: relative; 
  
     /* BACKGROUND GRADIENTS */
     background: #014464; 
     background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C); 
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C));  
  
     /* BORDER RADIUS */
     -moz-border-radius: 10px; 
     -webkit-border-radius: 10px; 
     border-radius: 10px; 
  
     border: 1px solid #368DBE; 
     border-top: 1px solid #c3d6df; 
  
     /* TEXT SHADOW */
  
     text-shadow: 1px 1px 1px black; 
  
     /* BOX SHADOW */
     -moz-box-shadow: 0 1px 3px black; 
     -webkit-box-shadow: 0 1px 3px black; 
     box-shadow: 0 1px 3px black; 
    } 
  
    /* WHILE HOVERED */
    .button:hover { 
        background: #014464; 
				color:white;
        background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853)); 
    } 
  
    /* WHILE BEING CLICKED */
    .button:active { 
        -moz-box-shadow: 0 2px 6px black; 
        -webkit-box-shadow: 0 2px 6px black; 
    } 
    /* FONT GLYPH (MOSTLY FOR FUN) */

		#information:before { 
			font-family: EfonRegular; 
			content: url(../img/information.ico); 
			color: #09232F; 
			font-size: 60px; 
			float: left; 
			margin-left: 35px; 
			margin-right: -10px; 
			text-shadow: 0 1px 0 #4190AF; 
		}
		
		
		#prevention_radar:before { 
			font-family: EfonRegular; 
			content: url(../img/prevention.ico); 
			color: #09232F; 
			font-size: 60px; 
			float: left; 
			margin-left: 35px; 
			margin-right: -10px; 
			text-shadow: 0 1px 0 #4190AF; 
		}
		
    #diagnostic_radar:before { 
        font-family: EfonRegular; 
        content: url(../img/diagnostic.ico); 
        color: #09232F; 
        font-size: 60px; 
        float: left; 
        margin-left: 35px; 
        margin-right: -10px; 
        text-shadow: 0 1px 0 #4190AF; 
    }		
		
    #treatment_radar:before { 
        font-family: EfonRegular; 
        content: url(../img/treatment.ico); 
        color: #09232F; 
        font-size: 60px; 
        float: left; 
        margin-left: 35px; 
        margin-right: -10px; 
        text-shadow: 0 1px 0 #4190AF; 
    }

    #games:before { 
        font-family: EfonRegular; 
        content: url(../img/games.ico); 
        color: #09232F; 
        font-size: 60px; 
        float: left; 
        margin-left: 35px; 
        margin-right: -10px; 
        text-shadow: 0 1px 0 #4190AF; 
    } 

		#about:before { 
        font-family: EfonRegular; 
        content: url(../img/about.ico); 
        color: #09232F; 
        font-size: 60px; 
        float: left; 
        margin-left: 35px; 
        margin-right: -10px; 
        text-shadow: 0 1px 0 #4190AF; 
    }